export TF_VAR_proxmox_api_url="https://192.168.0.132:8006/api2/json"
export TF_VAR_proxmox_api_token_id=`pass PROXMOX_TOKEN_ID`
export TF_VAR_proxmox_api_token_secret=`pass PROXMOX_SECRET_TOKEN`
export TF_VAR_ssh_user="user"
export TF_VAR_ssh_private_key="~/.ssh/id_ed25519"
export TF_LOG=DEBUG
